
@font-face {
  font-family: 'VT323';
  src: url('assets/fonts/VT323-Regular.ttf') format('woff2'),
       url('assets/fonts/VT323-Regular.ttf') format('woff');
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'VT323', sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: rgb(0, 167, 0);
  font-size: x-large;
}

p{
  text-shadow: 1px 1px 5px rgb(0, 167, 0),
    -1px 1px 10px rgb(0, 167, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

